.calltoaction {
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
  padding: 20px;
  background: #8ecae6;
  border-radius: 10px;
  transition: transform 0.1s ease-in;
}

.calltoaction:hover {
  transform: scale(110%);
}

.button {
  margin-bottom: 20px;
  display: inline-block;
  padding: 10px 20px;
  background: #8ecae6;
  transition: background-color 0.15s ease-in, color 0.15s ease-in;
}

.button:hover {
  background-color: rgb(53, 112, 142);
  color: white;
}

.card {
  width: 200px;
  margin-bottom: 20px;
  padding: 20px;
  background: #8ecae6;
  border-radius: 10px;
  transition: background-color 0.15s ease-in;
}

.card:hover {
  background-color: rgb(24, 146, 207);
}

.card-title {
  font-size: 20px;
  transition: transform 0.15s ease-in;
}

.card:hover .card-title {
  transform: translateX(20px);
}
