.animations {
  .spinner {
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 5px solid #8ecae6;
    border-top-color: #023047;
    animation: changeColor 2s infinite linear;
  }

  @keyframes changeColor {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  .progress {
    height: 20px;
    background: #8ecae6;
    border-radius: 10px;
    overflow: hidden;
  }

  .progress-inner {
    width: 0;
    height: 100%;
    background: #023047;
    border-radius: 10px;
    animation: changeForm 7s infinite;
  }
}

@keyframes changeForm {
  0% {
  }

  15% {
    background: #011f2e;
    width: 50%;
  }

  40% {
    background: #023047;
    width: 0%;
  }

  60% {
  }

  to {
    background: #000a0f;
    width: 100%;
  }
}
